<h1> Welcome to the Casino! </h1>

<%
    ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
    suits = ["clubs", "diamonds", "hearts", "spades"]
    
    deck = []
    for rank in ranks
        for suit in suits
            card = "#{rank}_of_#{suit}"
            deck.push(card)
        end
    end

    shuffled_deck = deck.shuffle
    hand = shuffled_deck[0,5]
%>

<p>
    <% for card in hand %>
        <img src="/images/cards/<%=card%>.svg">
    <%end%>
</p>

<p>
    <a href="https://3000-vindhyatummala-webapps-f9wdyt7mwer.ws-us85.gitpod.io/cards">Deal again!</a>
</p>